.tips{
    font-size: 12px;
    display:inline-block;
  	background-image:url('../../common/img/tips.png');
  	background-repeat:no-repeat;
  	background-size: 20px auto;
  	background-position: 0px -4px;
  	padding-left: 25px;
  	height:20px;
  	margin: 20px 15px;
  em{
   color: #aaa;
  }
  i{
  	color: red;
  }
}

